@model IssueManager.Models.ViewModels.Categories.CategoriesListViewModel; 

@{
    ViewData["Title"] = "Index";
}

<div class="container py-5">
    <div class="im-container">
        <div class="im-header">
            <h2 class="mb-0">Categories Management</h2>
            <p class="mb-0 opacity-75">View and manage all reuqest's categories</p>
        </div>

        <div class="d-flex justify-content-between">
            <form asp-controller="Categories" asp-action="Index" method="get" class="col-md-10">
                <div class="d-flex gap-1 col-sm-6 mb-3">
                    <input class="form-control im-form-control" type="text" name="search" placeholder="Search by category name" />
                    <input type="submit" value="Search" class="create-btn" />
                </div>
            </form>
            <div class="col-md-2" style="text-align: end">
                <a asp-action="Create" class="create-btn my-auto">Create new category</a>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table im-table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Categories[0].Name)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Categories)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td style="text-align: right">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-edit">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-delete">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <nav>
            <ul class="pagination">
                @if (Model.Categories.HasPreviousPage)
                {
                    <li class="page-item">
                        <a class="page-link" asp-route-pageIndex="@(Model.Categories.PageIndex - 1)" asp-route-search="@Model.SearchString">Previous</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                }

                @for (int i = 1; i <= Model.Categories.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.Categories.PageIndex ? "active" : "")">
                        <a class="page-link" asp-route-pageIndex="@i" asp-route-search="@Model.SearchString">@i</a>
                    </li>
                }

                @if (Model.Categories.HasNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" asp-route-pageIndex="@(Model.Categories.PageIndex + 1)" asp-route-search="@Model.SearchString">Next</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                }
            </ul>
        </nav>
    </div>
</div>
